select, button {
  padding: 5px 10px;
  background: white;
  border: 1px solid teal;
}

.App {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.input__field {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.element__container, .actionButtons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.element__container {
  justify-content: space-between;
}

.viewItem {
  display: flex;
  flex-direction: column;
  border: 1px solid teal;
  gap: 20px;
}

.viewItemField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

button:hover, select:hover {
  cursor: pointer;
}
